name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: setup java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '21'

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.14.3

      # - name: make gradlew executable
      #   run: chmod +x ./gradlew

      - name: generate grammar
        run: gradle generateGrammarClean

      - name: build
        run: gradle buildPlugin
            
      - uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/distributions/

